
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(242, 248, 159);
    overflow-x: hidden; 
    overflow-y: hidden; 
}
#background{
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -10;
}
.tooltip {
    background: url(../images/Prologue_1-1/Bouton_rejoindre_Emma.png) no-repeat;
    position: absolute;
    top: 0%;
    left: 0;
    height: 105px;
    width: 13%;
    /* padding: 10px; */
    opacity: 0;
    transform: translate3d(-50%, -100%,0);
    transition: opacity .3s, transform .3s;
}
.tooltip.is-active{
    opacity: 1;
    transform: translate3d(-50%, calc(-110% - 20px),0);

}
.tooltipUP {
    /* background: url(../images/Scene_1-0/éléments/regardez_en_haut.png) no-repeat; */
    position: absolute;
    top: 0%;
    left: 0;
    height: 100px;
    width: 14%;
    opacity: 0;
    transform: translate3d(-50%, -100%,0);
    transition: opacity .3s, transform .3s;
}
.tooltipUP.is-active{
    opacity: 1;
    transform: translate3d(-50%, calc(-110% - 20px),0);

}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    font-size: 600%;
    text-align: center;
    margin: 30%;
}
#Logo{
    top: 4%;
    left: 2%;
    position: absolute;
    width: 11%;
}
#Logo:hover{
   opacity: 0.9;
}
.btn{
  
    border: none;
    outline: none; 
   
    
}
.Emma{
    background: url(../images/Prologue_1-1/Bouton_rejoindre_Emma.png);
    bottom: 5%;
    right: 3%;
    position: absolute;
    background-repeat: no-repeat;
    width: 14%;
    height: 11%;
    opacity: 0;
     animation: example 5s ease-in-out 30s forwards; 
}

@keyframes example {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}
.Emma:hover{
    background-image: url(../images/Prologue_1-1/Bouton_rejoindre_Emma_avec_clic.png);
}
.Follow-Emma{
    background: url(../images/Prologue_1-2/Bouton_suivre_Emma.png);
    bottom: 5%;
    right: 3%;
    position: absolute;
    background-repeat: no-repeat;
    width: 14%;
    height: 11%;
    opacity: 0;
    animation: example 5s ease-in-out 30s forwards; 
}
.Follow-Emma:hover{
    background-image: url(../images/Prologue_1-2/Bouton_Suivre_Emma_clic.png);
}
@keyframes up {
    /* 0%   {opacity: 0;} */
    100% {top: 10px;}
  }
#Crash{
    top: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    z-index: -10;
   
    animation: boom 5s ease-in-out 37000ms forwards; 
}


@keyframes boom {
    0% {z-index: -10;}
  100% { z-index: 10;}
}
@keyframes Eric {
    0% {bottom: -20%;}
    25% {bottom: -15%;}
    50% {bottom: -10%;}
    75% {bottom: -5%;}
    100% {bottom: 0;}
}
.dark{
    top: 0%;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 1;
    z-index: -5;
    background:url(../images/scene1-1/Chaise/Effect-sombre.png);

    animation: boom 1s ease-in-out 36s forwards;
}
#dark{
    background: url(../images/scene1-1/Chaise/Effect-sombre.png);
}

.ml10 {
    position: absolute;
    font-weight: 200;
    font-size: 2em;
    bottom: 0;
    z-index: 20;
    left: 1%;
    color: azure;
    padding-inline: 6%;
  }
  
  .ml10 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml10 .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }